<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="http://junxyd.cn/static/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="http://junxyd.cn/static/css/app.css" />
		<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script src="http://junxyd.cn/static/js/jquery-2.0.0.js"></script>
		<script src="http://junxyd.cn/static/js/mui.min.js"></script>
	</head>

	<body>
		<div id="index_page">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title"> 评画 </h1>
			</header>

			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" id="shareImage">
					<span class="mui-icon mui-icon-plus"></span>
				</a>
			</nav>
			{% for painting in paintingList %}
				<div class="mui-content">
					<div class="mui-card">
						<div class="mui-card-header mui-card-media" id = "painting">
							<img src={{painting.open_id.user_head_img}} />
							<div class="mui-media-body">
								{{ painting.open_id.nick_name }}
								<p>发表于 {{painting.share_time|date:"Y-m-d H:i:s"}}</p>
							</div>
						</div>
						<div class="mui-card-content" >
							<img src={{painting.pic_src}} alt="" width="100%"/>
						</div>
						<div class="mui-card-footer">
							<a class="mui-icon mui-icon-star"></a>
						</div>
					</div>
				</div>
			{%	endfor %}
		</div>

		<script type="text/javascript">
			var openId = {{openId | safe}};
			$('#shareImage').on('touchend',function () {
				window.location.href = 'http://junxyd.cn/wx/shareImage?openId='+openId;
            })
			$('#painting').on('touchend',function () {
				window.location.href = 'http://junxyd.cn/wx/showHisChat?openId='+openId;
            })
		</script>
	</body>

</html>